.form-custom {
    display: flex;
    align-items: baseline;
    margin-top: 2%;
    margin-left: 6%;
}

label {
    text-align: left!important;
}

input[type="submit"] {
    border-radius: 5px!important;
    width: 50%;
}

/* th + th,
td + td {
    width: 85%;
} */

.table-custom {
    margin-left: 6%;
    margin-top: 5%;
}

.table-custom th {
    background-color: #0078e7;
    color: #333;
}

.table-custom td {
    color: #000;
}